{% extends 'dashboard.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {% if messages%}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor%}
    {% endif%}
    <div class="search-box">
        <h5 style="font-weight: bold;">Filter</h5><br>
        <label for="fromDate">From Date:</label>
        <input type="date" id="fromDate" name="startDate">
        <label for="fromDate">To Date:</label>
        <input type="date" id="toDate" name="endDate"><br>
        <button type="submit" class="btn btn-primary" style="background-color: #dc3545;">Search</button>
    </div>
</form>
    <div class="table-container">
        <table class="table table-bordered" id="despatchTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Despatch number</th>
                <th>Driver name</th>
                <th>Vehicle</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for x in data1 %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{x.date|date:"d/m/y"}}</td>
                    <td><a href="/despatch_list/{{x.despatch_id}}"> {{x.despatch_id}}</a></td>
                    <td>{{x.driver.driver_name}}</td>
                    <td>{{x.vehicle.vehicle_name}}</td>

                    <td>
                        <button class="btn btn-sm btn-warning"><ion-icon name="create-outline"></ion-icon></button>
                        <button class="btn btn-sm btn-danger"><a href=/delete_despatch/{{x.despatch_id}}><ion-icon name="trash-outline"></ion-icon></a></button>
                    </td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
<div class="pagination">
    <span class="step-links">
        {% if data1.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ data1.previous_page_number }}">Previous</a>
        {% endif %}

        <span>Page {{ data1.number }} of {{ data1.paginator.num_pages }}</span>

        {% if data1.has_next %}
            <a href="?page={{ data1.next_page_number }}">Next</a>
            <a href="?page={{ data1.paginator.num_pages }}">Last</a>
        {% endif %}
    </span>
</div>
{% endblock %}
