{% extends 'dashboard.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {% if messages%}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor%}
    {% endif%}
    <div class="search-box">
        <h5 style="font-weight: bold;">Filter</h5><br>
        <label for="fromDate">From Date:</label>
        <input type="date" id="fromDate" name="startDate">
        <label for="fromDate">To Date:</label>
        <input type="date" id="toDate" name="endDate"><br>
        <button type="submit" class="btn btn-primary" style="background-color: #dc3545;">Search</button>
    </div>
</form>
    <div class="table-container">
        <table class="table table-bordered" id="despatchTable">
            <thead>
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>Consignor Name</th>
                <th>Consignee name</th>
                <th>Status</th>
                {% if data.designation.designation == 'Admin' %}
                <th>Action</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for x in data1 %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{x.date|date:"d/m/y"}}</td>
                    <td>{{x.booking.consignor.consignor_name}}</td>
                    <td>{{x.booking.consignee.consignee_name}}</td>
                    <td>{{x.status}}</td>
                    {% if data.designation.designation == 'Admin' %}
                    <td>
                        <button class="btn btn-sm btn-warning"><ion-icon name="create-outline"></ion-icon></button>
                        <button class="btn btn-sm btn-danger"><a href=/delete_delivery/{{x.delivery_id}}><ion-icon name="trash-outline"></ion-icon></a></button>
                    </td>
                    {% endif %}
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}
