{% extends 'dashboard.html' %}
{% block content %}
<form method="POST">
    {% csrf_token %}
    {% if messages%}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor%}
    {% endif%}
    <div class="search-box">
        <h4 style="font-weight: bold;">Search</h4>
        <label for="consignorName">Designation:</label>
        <input type="text" id="consignorName" name="designation">
        <button type="submit" class="btn btn-primary" style="background-color: #dc3545;">Search</button>
    </div>
</form>
<div class="table-container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Designation</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for x in data1 %}
            <tr>
                <td>{{x.designation}}</td>
                <td>
                    <button class="btn btn-sm btn-warning"><a href=/edit_designation/{{x.designation_id}}><ion-icon name="create-outline"></ion-icon></a></button>
                    <button class="btn btn-sm btn-danger"><a href=/delete_designation/{{x.designation_id}}><ion-icon name="trash-outline"></ion-icon></a></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
