{% extends 'dashboard.html' %}
{% block content %}
<div class="container container-box1" id="printableContent" style="border:2px solid black;">
    <!-- Header with Logo and Barcode -->


    <!-- Form Content in a Table Layout -->
    <table class="table mt-3" >
        <div class="row">
        <div class="col-8">
            <span class="header1" style="padding-top:50px;padding-left:10px;">CEEJAY COURIER</span>
        </div>
        <div class="col-4 text-end">
            <span style="font-size: 24px;"></span> <!-- Placeholder for Barcode -->
        </div>
        </div>
        <br>
        <tr>
            <td class="label">DATE:</td>
            <td colspan="2">{{data1.date_booked|date:"d/m/y"}}</td>
            <td class="label">NO OF BOXES:</td>
            <td>{{data1.number_of_boxes}}</td>
            <td class="label">LR NO.:</td>
            <td colspan="1">{{data1.booking_id}}</td>
        </tr>
        <tr>
            <td class="label">CONSIGNOR:</td>
            <td colspan="3">{{data1.consignor.consignor_name}}</td>
            <td class="label">CONSIGNEE:</td>
            <td colspan="2">{{data1.consignee.consignee_name}}</td>
        </tr>
        <tr>
            <td class="label">ADDRESS:</td>
            <td colspan="6">{{data1.consignee.consignee_address}}</td>
        </tr>
        <tr>
            <td class="label">PHONE:</td>
            <td >{{data1.consignee.consignee_phone}}</td>
            <td class="label">HUB:</td>
            <td>{{data1.district.district_name}}</td>
            <td class="label">WEIGHT:</td>
            <td >{{data1.weight}}KG</td>
            <td style="font-size: 20px;font-weight: bold;">{{data1.price}}/-</td>
        </tr>
        <tr>
            <td class="label">REMARK:</td>
            <td colspan="4" rowspan="2">{{data1.remark}}</td>
            <td class="label">SEAL & SIGNATURE:</td>
            <td rowspan="2"></td>
        </tr>
        <br>
    </table>

    <!-- Print Button -->

</div>
<div class="row mt-3" style="float:right;">
        <div class="col-12 text-end">
            <button onclick="printTable1();" class="print-btn">
                <i class="bi bi-printer"></i> Print
            </button>
        </div>
    </div>
{% endblock %}